**To keep in mind:**

O. Okike, J. A. Alhassan, E. U. Iyida and A. E. Chukwude. A comparison of catalogues of Forbush decreases identified from individual and a network of neutron monitors: a critical perspective. MNRAS 503, 5675–5691 (2021) doi:10.1093/mnras/stab680.  

For the purpose of a comparative study of two FD catalogues and subsequent analysis: 
- The FD catalogue of the Russian investigators (Belov et al. 2018a) was downloaded from http://spaceweather.izmiran.ru/eng/dbs.html. It is the most comprehensive and up to date Forbush event catalogue. Several CR investigators have employed the catalogue. Some of the publications based on the IZMIRAN FD list are displayed at http://spaceweather.izmiran.ru/eng/papers.html. Belov (2008) asserts that the list is more accurate, as it was selected using several CR physical characteristics (e.g. density and anisotropy).
- The FD catalogue of Lockwood is sourced from https://ngdc.noaa.gov/stp/space-weather/interplanetary-data/cosmic-rays/forbush-decreases/.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import io, re, glob
import urllib.request
import math

In [7]:
df1=pd.read_csv("Data1/DataStudy1.csv")
df1["DATETIME"]=pd.to_datetime(df1["DATETIME"])
df1.set_index("DATETIME",inplace=True)
df2=pd.read_csv("Data2/DataStudy2.csv")
df2["DATETIME"]=pd.to_datetime(df2["DATETIME"])
df2.set_index("DATETIME",inplace=True)

In [8]:
df1

                              MXCO    JUNG1     LMKS  NEWK     KERG     OULU
DATETIME
2018-01-01 00:00:00+00:00  231.000  375.029  474.079   NaN  234.337  111.260
2018-01-01 00:02:00+00:00  233.000  375.602  475.306   NaN  233.188  107.716
2018-01-01 00:04:00+00:00  232.250  372.678  474.119   NaN  233.306  110.502
2018-01-01 00:06:00+00:00  228.417  364.417  472.085   NaN  234.694  109.483
2018-01-01 00:08:00+00:00  227.500  365.883  474.529   NaN  234.920  110.824
...                            ...      ...      ...   ...      ...      ...
2025-11-15 17:20:00+00:00      NaN  322.236  368.720   NaN  186.365   88.487
2025-11-15 17:22:00+00:00      NaN  321.239  363.016   NaN  188.282   90.513
2025-11-15 17:24:00+00:00      NaN  323.701  364.111   NaN  182.680   87.884
2025-11-15 17:26:00+00:00      NaN  321.732  368.915   NaN  185.118   88.395
2025-11-15 17:28:00+00:00      NaN  329.876  361.526   NaN      NaN      NaN

[2070525 rows x 6 columns]

In [9]:
df2

                             DOMC     INVK     APTY     AATB
DATETIME
2018-01-01 00:00:00+00:00  20.289  196.150  179.579  1416.45
2018-01-01 00:02:00+00:00  21.116  196.880  178.488  1424.00
2018-01-01 00:04:00+00:00  20.536  196.990  178.687  1436.40
2018-01-01 00:06:00+00:00  20.876  197.580  179.851  1415.80
2018-01-01 00:08:00+00:00  20.992  199.170  175.817  1427.35
...                           ...      ...      ...      ...
2025-11-24 23:16:00+00:00     NaN  165.600      NaN      NaN
2025-11-24 23:18:00+00:00     NaN  164.675      NaN      NaN
2025-11-24 23:20:00+00:00     NaN  168.965      NaN      NaN
2025-11-24 23:22:00+00:00     NaN  165.010      NaN      NaN
2025-11-24 23:24:00+00:00     NaN      NaN      NaN      NaN

[2077183 rows x 4 columns]

In [11]:
pd.merge(df1,df2,left_index=True, right_index=True)

,MXCO,JUNG1,LMKS,NEWK,KERG,OULU,DOMC,INVK,APTY,AATB
DATETIME,,,,,,,,,,
2018-01-01 00:00:00+00:00,231.000,375.029,474.079,NaN,234.337,111.260,20.289,196.150,179.579,1416.45
2018-01-01 00:02:00+00:00,233.000,375.602,475.306,NaN,233.188,107.716,21.116,196.880,178.488,1424.00
2018-01-01 00:04:00+00:00,232.250,372.678,474.119,NaN,233.306,110.502,20.536,196.990,178.687,1436.40
2018-01-01 00:06:00+00:00,228.417,364.417,472.085,NaN,234.694,109.483,20.876,197.580,179.851,1415.80
2018-01-01 00:08:00+00:00,227.500,365.883,474.529,NaN,234.920,110.824,20.992,199.170,175.817,1427.35
...,...,...,...,...,...,...,...,...,...,...
2025-11-15 17:20:00+00:00,NaN,322.236,368.720,NaN,186.365,88.487,13.809,158.440,145.608,1151.30
2025-11-15 17:22:00+00:00,NaN,321.239,363.016,NaN,188.282,90.513,14.161,155.725,143.699,1156.90
2025-11-15 17:24:00+00:00,NaN,323.701,364.111,NaN,182.680,87.884,13.737,154.985,144.772,1146.20
2025-11-15 17:26:00+00:00,NaN,321.732,368.915,NaN,185.118,88.395,13.789,160.940,142.771,1141.25
2025-11-15 17:28:00+00:00,NaN,329.876,361.526,NaN,NaN,NaN,14.423,156.340,146.331,1153.90

In [12]:
pd.merge(df1,df2,left_index=True, right_index=True).to_csv("Results/DataStudy.csv",index=True)